@mixin item_country_block{
    display: flex;
    max-width: 63px; 
    margin-right: 16px; 
    
}
@mixin item_country{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 4px;
    }
}

@mixin item_iso_block{
    display: flex;
    max-width: 58px;
    margin-right: 16px;
}

@mixin item_iso{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 4px;
    }
}

@mixin item_farengate_block{
    display: flex;
    max-width: 40px;
    margin-right: 16px;
}

@mixin item_farengate{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 8px;
    }
}

@mixin item_time_block{
    display: flex;
    max-width: 70px;
    margin-right: 16px;
}

 @mixin item_time{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 5px;
    }
 }

 @mixin panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5.625em;
    margin-bottom: 3.125em;
    max-width: 300px;        
    margin-left: 70%;
 }

 @mixin panel_992px{
    display: flex;
    margin-left: auto;
    justify-content: center; 
 }

 

