@import 'base/mixins';
@import 'base/mixins_section';


*{
    margin: 0 auto;
    padding: 0;   
}
html {
    box-sizing: content-box;
}

body{
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/panel';
@import 'blocks/foto';
@import 'blocks/frame';
@import 'blocks/tools';
@import 'blocks/costa';
@import 'blocks/client';
@import 'blocks/nepal';
@import 'blocks/pageup';
@import 'blocks/modal';
@import 'blocks/clock';


@import 'blocks/media';




