.costa{
    padding: 0;
    overflow: hidden;
    object-fit: cover;
}
.costa_block{
    @include block;
    &_img{
       @include block_img;
    }
    &_title{
        @include block_title;  
    }
    &_text{
       @include block_text;
    }
}

.costa_block_subtitle{
   @include block_subtitle;
}

.costa_panel{ 
    @include panel;
    margin-top: 18%;
}
