.header{
    height: 90px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #181818;
    border-radius: 0px;
    &_wrapper{
        display: flex;      
        margin: 0 auto;       
    }
    &_logo{
        margin-left: 152px;
        margin-top: 30px;   
        max-width: 130px;
        height: 30px;
    }
}

