@media (max-width: 1600px){
    .modal-dialog{
        margin-left: 25%;
    }
    .modal-header{
        width: 90%;
    }
}
@media (max-width: 1400px){
    .promo_title{
        font-size: 36px;
    }  
    .promo_subtitle{
        font-size: 12px;
    }
    .promo_text{
        font-size: 12px;
    }
    .modal-dialog{
        margin-left: 27%;
    }
    .modal{
        width: 80%;   
        height: 80%;   
        margin-top: 7%;
    }
}
@media (max-width: 1200px){
    .promo_title{
        font-size: 32px;
    }
    .promo_subtitle{
        font-size: 10px;
    }
    .promo_text{
        font-size: 10px;
    }
    .frame_panel{
        margin-top: 15%;
    }
    .tools_wrapper_block_title{
        font-size: 18px;
        margin-left: 15%;
    }   
    .tools_wrapper_block_text{
        font-size: 12px;
        line-height: 16px;
    } 
}
@media (max-width: 992px){
    .promo_descr{
        flex-direction: row-reverse;
    }
    .promo_title{
        font-size: 24px;
    }
    .promo_subtitle{
        font-size: 8px;
    }
    .promo_text{
        font-size: 8px;
    }
    .promo_panel{
        @include panel_992px;        
    }
    .frame_panel{
        @include panel_992px;  
    }
    .costa_panel{
        @include panel_992px; 
        margin-top: 10%;
    }
    .nepal_panel{
        @include panel_992px;  
        margin-top: 10%;
    }
    .tools_foto_panel{
       margin-left: 3%;
    }
    .tools_wrapper_block_btn{
        max-width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .foto_item_btn{
        width: 80%;
        margin-top: -65%; 
    }
    .foto_item_save{
        width: 80%;
        margin-top: -65%;
    }
    .frame_block_subtitle{
        margin-left: auto;
        margin-top: 3%;
    }
    .costa_block_subtitle{
        margin-left: auto;
    }
    .tools_wrapper_block_btn{
        width: 80%;
        margin-top: 5%;
    }
    .nepal_block_subtitle{
        margin-left: auto;
    }
}

@media (max-width: 768px){
    // hamburger
    .hamburger {  
        display: block;		
    }
    .menu_list {
        position: fixed;
        display: none;
        background-color: #181818;
        opacity: 0.5;    
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(189.0deg, #FFFFFF 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
        border-image-slice: 1;
        height: 100vh;
        transition: 0.5s;
        list-style: none;
        box-shadow: 0 10px 27px rgba(0,0,0,0.5);   
        top: 30px;
        margin-right: 30px;
        right: 0;
        z-index: 10;
        text-decoration: none;
        a{
            font-size: 34px;
            max-width: 155px;
            height: 50px;
            background:  #181818;
            border-radius: 6px;
            transition: 0.5s linear; 
            color: white;
            padding: 2px 7px 4px 7px;        
        }
       
        li{
            margin-left:auto;
            margin-right:auto;
            margin-top: 30px;
            padding: 15px;
        }
        &_active{           
            display: block;
            right: 0;
        }
    }

    .header_logo{
        margin-left: 4%;
    }
    .foto_item{
        margin-left: auto;
        margin-right: auto;
    }
    .foto_item_btn{
        margin-top: -60%; 
    }
    .foto_item_save{
        margin-top: -60%; 
    }
    .frame_panel{
        margin-top: 10%;
    }
    .tools_foto_panel{
        margin-left: 0;
     }
    .tools_wrapper_block{
        max-width: 400px;
        max-height: 200px;
    }
    .tools_wrapper_block_title{
        margin-left: 10%;
        font-size: 14px;
        margin-top: 5%;
    }   
    .tools_wrapper_block_text{
        font-size: 8px;
        line-height: 10px;
        margin-top: 5%;
    }
    .tools_wrapper_block_btn{
        max-width: 100px;
        height: 28px;
        font-size: 12px;
    }
    .costa_block_title{
        font-size: 12px;
    }
    .costa_block_text{
        font-size: 10px;
    }
    .tools_foto_img{
        height: 100%;
        width: 100%;
    }
    .client_block_logo{
        img{
            max-width: 90px;
            max-height: 25px;
        }
    }
    .client_block_title{
        font-size: 24px;
    }
    .nepal_block_title{
        font-size: 12px;
    }
    .nepal_block_text{
        font-size: 10px;
    }
    .videografy_block_title{
        font-size: 24px;
    }
    .videografy_block_subtitle{
        font-size: 16px;
    }
}

@media (max-width: 576px){
    .frame_block_title{
        font-size: 10px;
    }
    .frame_block_text{
        font-size: 10px;
    }
    .frame_panel{
        margin-top: 5%;
    }
    .foto_item_btn{
        max-width: 80px;
        height: 28px;
        font-size: 8px;
    }
    .foto_item_save{
        max-width: 80px;
        height: 28px;
        font-size: 8px;
    }
    .tools_foto_img{
        height: 100%;
        width: 100%;
    }
    .tools_wrapper_block_btn{
        max-width: 90px;
        height: 24px;
        font-size: 10px;
    }
    .client_block_logo{
        img{
            max-width: 65px;
            max-height: 20px;
        }
    }
    
}