.modal{
    width: 100%;   
    height: 100%;   
    margin-top: 5%;
}
.modal-dialog{
    width: auto;
    margin-left: 30%;
}
.modal-content{
    width: 800px;
    height: 700px;
}
.modal-header{
    width: 100%;
}
.btn-close{
    margin-left: 10%;
}
.modal-title{
    font-size: 24px;
    margin-left: 33%;
}