.promo{
    display: flex;
    max-height: 800px;        
    &_img{
       position: relative;
       display: flex;
       min-width: 100%;
       height: 100%;
              
        }
    &_descr{      
        position: absolute;
        display: flex;
        flex-direction: column;  
        align-items: center;     
        max-width: 600px;
        max-height: 280px;
        left: 29.17%;
        right: 29.17%;       
        margin-top: -180px;
    }
    &_subtitle{
        display: flex;
        min-width: 263px;
        left: calc(50% - 263px/2 + 0.5px);           
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;   
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;   
        color: #C0C0C0;
    }
    &_title{
        margin-top: 18px;
        min-width: 463px;
        left: calc(50% - 463px/2 + 0.5px);       
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
        }
    &_text{
        margin-top: 18px;
        min-width: 580px;
        left: calc(50% - 580px/2);        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #C0C0C0;

    }
    &_panel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-top: -50px;
        margin-right: 39px;
        max-width: 300px;        
        margin-left: 1050px;
    }
           
}


