.promo_item_iceland_block{
    display: flex;
    max-width: 63px; 
    margin-right: 16px;   
} 
.promo_item_iceland{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 4px;
    }
}
.promo_item_iso_block{
    display: flex;
    max-width: 58px;
    margin-right: 16px;    
} 
.promo_item_iso{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 4px;
    }
}
.promo_item_farengate_block{
    display: flex;
    max-width: 40px;
    margin-right: 16px;
} 
.promo_item_farengate{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 8px;
    }
}
.promo_item_time_block{
    display: flex;
    max-width: 70px;
    margin-right: 16px;
} 
.promo_item_time{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    img{
        margin-right: 5px;
    }
}