.promo_wrapper{
    padding: 0;
}
.promo{
    display: block;
    height: auto;
    width: 100%;  
    overflow: hidden;
    object-fit: cover;
    &_img{     
       max-width: 100%;
       height: auto;     
     }
    &_descr{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;  
        align-items: center;     
        max-width: 600px;
        max-height: 209px;    
        margin-top: -17.25em;
        margin-bottom: 8.5em;
    }
    &_subtitle{
        display: flex;
        min-width: 16.438em;         
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;   
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;   
        color: #C0C0C0;
    }
    &_title{
        display: flex;
        justify-content: center;
        margin-top: 18px;
        min-width: 463px;    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
        }
    &_text{
        display: flex;       
        margin-top: 1.125em;          
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #C0C0C0;

    }
    &_panel{
        @include panel;
    }
           
}


